[submodule "authenticated-todo"]
	path = authenticated-todo
	url = https://github.com/Fenish/authenticated-todo
[submodule "dynamic-routing"]
	path = dynamic-routing
	url = https://github.com/Fenish/DynamicRouting
